/* calendar */
.fadeIn {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .2s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.grid {
	display: grid;
	grid-template-columns: repeat( 7, 1fr );
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.grid > span {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.day-container {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 110px;
	overflow: hidden;
	cursor: pointer;
	transition: max-height .3s ease-in-out;	
	max-height: 65px;
}

.day-container-today {
	background-color: #f4f5f8;
}

.day-number {
	font-size: 14px;
	font-weight: 500;
	padding: 8px 14px;
	color: #000;
	max-width: 37px;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.day-today{
	background-color: #5b47fb;
	color: #fff;
	border-radius: 0;
}

.legend {
	font-size: 14px;
	padding: 8px 12px;
	height: 30px;
	justify-content: flex-end;
	color: #596882;
}

.event-container {
	border-color: #cdd4e0;
}

.event {
	position: relative;
	display: block;
	border: 1px solid #3a87ad;
	border-top-width: 5px;
}

.event.green {
	background-color: rgb( 216, 254, 209 );
	border-color: rgb( 59, 176, 1 );
}

.event.cyan {
	background-color: rgb( 191, 222, 255 );
	border-color: rgb( 0, 123, 255 );
}

.event.blue {
	background-color: rgb( 224, 228, 244 );
	border-color: rgb( 10, 43, 165 );
}

.event.yellow {
	background-color: rgb( 255, 236, 202 );
	border-color: rgb( 255, 181, 43 );
}

.event.orange {
	background-color: rgb( 255, 236, 202 );
	border-color: rgb( 255, 181, 43 );
}

.event.purple {
	background-color: rgb( 251, 191, 220 );
	border-color: rgb( 241, 0, 117 );
}

.event-content {
	font-size: 0.775rem;
	display: none;
}

.event-time {
	font-weight: 700;
	padding: 0 3px 0 0;
}

.event-title {
	white-space: nowrap;
	overflow: hidden;
}

.event-desc {
	display: none;
}

@media ( min-width: 576px ) {
	.event {
		border-left-width: 3px;
		border-right-width: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
		padding: 3px 4px;
	}
	.event-content {
		display: block;
	}
	.day-container {
		min-height: 138px;
		transition: min-height .3s ease-in-out;
	}
}

/* Header Month */
.state-disabled {
	color: #333;
	background-color: #e6e6e6;
	cursor: default;
	opacity: 0.65;
}

.icon {
	overflow: hidden;
	display: inline-block;
	line-height: 2.3em;
	font-size: 1em;
	font-family: "Courier New", Courier, monospace;
	position: relative;
	top: -0.05em;
	margin: 0 0.2em;
	vertical-align: middle;	
}

.icon:after {
	position: relative;
}

.header-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
}

.header-toolbar button {
	display: flex;
	height: 38px;
	background-color: #fff;
	border: 1px solid #cdd4e0;
	padding: 0 15px;
	margin: 5px;
	align-items: center;
	color: #1c273c;
	font-size: 13px;
	text-align: center;
}

.header-toolbar button:hover,
.header-toolbar button:focus {
	background-color: #e3e7ed;
}

button.prev-button,
button.next-button {
	padding: 0;
	width: 38px;
	justify-content: center;
	cursor: pointer;
}

button.today-button,	
button.today-button:hover {
	color: #fff;
	background-color: #3366ff;
	border-color: #1a53ff;
	cursor: pointer;
}

button.today-button.state-disabled {
	border-color: #cdd4e0;
	background-color: #f4f5f8;
	color: #97a3b9;
	cursor: default;
}

.icon-left-single-arrow:after,
.icon-right-single-arrow:after {
	font-family: "Ionicons";
	font-size: 30px;
	font-weight: 400;
	line-height: 1;
}

.icon-left-single-arrow:after {
	content: "‹";
}

.icon-right-single-arrow:after {
	content: "›";
}

.month-name {
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 0 0 10px;
	color: #1c273c; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.day-name {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 5px 0;
	color: #1c273c; 
	display: flex;
	justify-content: center;
	align-items: center;
}
